@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <head>
        <title>Git Practice Demo</title>
    </head>
    <body>
        <h1>Welcome to Git Practice Demo</h1>
        <h2>Git Practice</h2>
    </body>

</div>
